<h1>Welcome to Survey Gorilla, <%= @user.name %>!</h1>

<a href="/create_survey/<%= @user.id %>">Create Survey</a>

<!-- prints out all the surveys created by user -->
<h2>Your Created Surveys</h2>
  <% if @surveys %>
    <% @surveys.each do |survey| %>
      <a href="/take_survey/<%= survey.id %>"><%= survey.title %></a><br>
    <% end %>
  <% end %>

<!-- prints out all the surveys to which user has responded -->
<h2>Your Answered Surveys</h2>
  <% if @surveys %>
    <% @surveys.each do |survey| %>
      <%= survey %>
    <%end%>
  <%end%>



