<div>
  <p>Survey Name: <%= @survey.title %></p>

 <ol>
  <% @question_bank.each do |question| %>
 
   <li> <%= question.question %></li>
    <form>
      <% question.answers.each do |answer| %>
      <input name="<%= question.id %>" type='radio' value='<%= answer%>' />  <%= answer.answer %><br>
      <%end%>
       </form><br>
   
  <% end %>
   </ol>
</div>
