<div>
  <p>Survey Name: <%= @survey.title %></p>
  <form name='survey' method='post' action='/survey_submit'>  
   <ol>
    <% @question_bank.each do |question| %>
    <li> <%= question.question %></li>
  
      <% question.answers.each do |answer| %>
      <input name="<%= question.id %>" type='radio' value='<%= answer.id %>' />  <%= answer.answer %><br>
      <%end%>
    <br>
    <% end %>
  </ol>
  <input type='submit' value='submit survey'>
</form>
</div>
